<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            Most Popuar
        </div>
    </div>
    <div class="panel-body">
        {{#each side.popular }}
            <div class="col-md-4 text-center" style="padding-bottom:.5em;">
                <a href="/images/{{uniqueId}}">
                    <img src="/public/upload/{{filename}}" 
                    style="width:75px; height:75px;" class="img-thumbnail" alt="{{filename}}">
                </a>
            </div>
        {{/each}}
    </div>
</div>